<div class="card bg-light mb-3">
  <div class="card-header">{{user_id}}</div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Created At {{format_date updatedAt}}</h6>
    <p class="card-text">{{comment}}</p>
  </div>
</div>