{{#each ideas}}
  <br />
  <br />
  <a href='/idea/{{this.id}}'>{{this.name}}</a>
  <button class='btn-primary'>Like</button>
  <button class='btn-secondary'>Interest</button>
  <br />
  <br />
{{/each}}