<div class='card card-body'>
    <div class='form-floating mb-3'>
        <input type='text' class='form-control' id='exampleFormControlInput1' placeholder='My Brilliant Idea'>
        <label for='exampleFormControlInput1' class='form-label'>Idea Name</label>
    </div>
    <div class='form-floating mb-3'>
        <textarea type='text' class='form-control' id='exampleFormControlTextarea1' rows='3' placeholder='Description'></textarea>
        <label for='exampleFormControlTextarea1'>Description</label>
    </div>
    <button type='submit' class='btn btn-primary'>Add Idea</button>
</div>