<div class="card card-body">
  <form class="row g-3 align-items-end">
    <div class="col-auto">
      <label for="input-space">Enter a Space</label>
      <input type="password" class="form-control" id="input-space" placeholder="Space ID">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary shadow-sm">Enter</button>
    </div>
  </form>
</div>

<div class="card card-body mt-3">
  <form class="row g-3 align-items-end">
    <div class="col-auto">
      <label for="input-space">Create a Space</label>
      <input type="password" class="form-control" id="input-space" placeholder="Space Name">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary shadow-sm">Create</button>
    </div>
  </form>
</div>

<script src='/js/homepage.js'></script>