<br>
<br>
Name: {{idea.name}}
<button class="btn-primary">Like</button>
<button class="btn-secondary">Interest</button>
<br>
<br>
Creator: {{idea.user_id}}
<br>
Pitch: {{idea.pitch}}
<hr>
{{#each comments}}
<br>
{{> comment }}
<br>
{{/each}}