<div class='flex-row justify-center'>
  <div class='col-md-6'>
    <h2>log in</h2>

    <form class='form login-form'>
      <div class='form-group'>
        <legend for='email-login' class='mui-text--left'>email:</legend>
        <input class='form-input' type='email' id='email-login' />
      </div>
      <div class='form-group'>
        <legend for='password-login' class='mui-text--left'>password:</legend>
        <input class='form-input' type='password' id='password-login' />
      </div>
      <div class='form-group'>
        <button class='mui-btn mui-btn--raised' type='submit'>log in</button>
        <a style='color:#009ecc' href='/signup'>sign up</a>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>