<div class="flex-row justify-center">
  <div class="col-md-6">
    <h2>log in</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="mui-btn mui-btn--primary" type="submit">log in</button>
        <a href="/signup">sign up</a>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>