<div class='flex-row justify-center'>
  <div class='col-md-6'>
    <div class="card card-body">
      <form class='form login-form'>
        <legend class='mui-text--left'>Login</legend>
        <div class="mb-3">
          <label for="email-login" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="password-login" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-login">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a class="btn btn-link" href='/signup'>Sign Up</a>
      </form>
    </div>
  </div>
</div>

<script src='./js/login.js'></script>