<div class='flex-row justify-center'>
  <div class='col-md-6'>
    <h2>sign up</h2>

    <form class='form signup-form'>
      <div class='form-group'>
        <legend for='name-signup' class='mui-text--left'>name:</legend>
        <input class='form-input' type='name' id='name-signup' />
      </div>
      <div class='form-group'>
        <legend for='email-signup' class='mui-text--left'>email:</legend>
        <input class='form-input' type='email' id='email-signup' />
      </div>
      <div class='form-group'>
        <legend for='password-signup' class='mui-text--left'>password:</legend>
        <input class='form-input' type='password' id='password-signup' />
      </div>
      <div class='form-group'>
        <button class='mui-btn mui-btn--raised' type='submit'>sign up</button>
        <a href='/login'>log in</a>
      </div>
    </form>
  </div>
</div>

<script src='./js/signup.js'></script>