<div class="flex-row justify-center">
  <div class="col-md-6">
    <h2>sign up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="mui-btn mui-btn--primary" type="submit">sign up</button>
        <a href="/login">log in</a>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>