<div class="row gx-5">
    <div class="col-md-auto">
        <button class="btn btn-lg px-5 py-4 btn-primary shadow-lg mb-5 mb-md-0" id="access-space">Request Access</button>
    </div>

    <div class="col-md">
        <p class="fs-4">The space administrator will review your request. Upon approval you’ll be able to add ideas, indicate your interest, vote for ideas, and comment.</p>

        <a href="/space/{{space_id}}" class="fs-5">Nevermind! Take me back to the space</a>
    </div>
</div>

<script src="/js/access.js"></script>