<div
  class='modal fade fs-6'
  id='create-space-modal'
  tabindex='-1'
  role='dialog'
  aria-labelledby='create-space-modal'
  aria-hidden='true'
>

  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Create a new space</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>

        {{! create space}}

        <form class='row g-3 align-items-end form-create-space'>
          <div class='col-auto'>
            <input
              type='text'
              class='form-control'
              id='myspace-name'
              placeholder='Space ID'
            />
          </div>
          <div class='col-auto'>
            <button
              type='submit'
              class='btn btn-primary shadow-sm'
            >Create</button>
          </div>
        </form>

        {{! Footer }}
        <div class='modal-footer'>
          <button
            type='button'
            class='btn btn-secondary'
            data-bs-dismiss='modal'
          >Close</button>
        </div>
      </div>
    </div>
  </div>
</div>