<div class="modal sidecar" tabindex="-1" id="manage-interest-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Idea Members</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="idea-members">
             {{#each interests}}
             <div class="card" data-user-id="{{user_id}}">
                <div class="card-body">
                  {{#if (is_match status "approved")}}
                    <span class="badge bg-success">Approved</span>
                    <h2 class="fs-4 mb-0 mt-3">{{user.name}}</h2>
                  {{/if}}
                  {{#if (is_match status "pending")}}
                    <span class="badge bg-warning">Pending</span>
                    <p class="fs-5 mb-0 mt-3">{{details}}</p>
                  {{/if}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                  {{#if (is_match status "approved")}}
                    <button class="btn btn-danger btn-sm" data-status="removed">Remove</button>
                  {{/if}}
                  {{#if (is_match status "pending")}}
                    <button class="btn btn-danger btn-sm" data-status="dismissed">Dismiss</button>
                    <button class="btn btn-success btn-sm" data-status="approved">Approve</button>
                  {{/if}}
                </div>
             </div>
             {{/each}}
        </div>
    </div>
  </div>
</div>
<script src="/js/interestManage.js"></script>