
<div class="modal fade" id="resource-modal" tabindex="-1" role="dialog" aria-labelledby="addresource-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">    
         <div class="modal-header">
                <h5 class="modal-title">Help collaborators visualize and explore your idea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      <div class="modal-body">

<div class='row gy-4'>
  <div class='card'>
    <div class='card-body'>
      <form action="/" enctype="multipart/form-data" method="post" id="image-upload" action ="">
        <div class='form-group'>
          <div class='card-title'>
            <label for='addImages' class='fs-4 fw-bold mb-2'>Add images</label>
          </div>

          <label for='image'><input
              class='form-control-file'
              type='file'
              name='image'
              accept='image/*'
              id='image'
              multiple
            /></label>
            </div>
            <br>
          <button
            type='submit'
            id="upload-image"
            class='btn btn-primary '
          >Add</button>
        </div>
      </form>
    </div>


  {{! Upload links }}
  <div class='card'>
    <div class='card-body'>
      <form enctype='multipart/form-data'>
        <div class='form-group'>
          <div class='card-title'>
            <label for='link' class='fs-4 fw-bold mb-2'>Add links</label>
          </div>

          <label for='link'><input
              class='form-control'
              type='link'
              name='link'
              multiple
              id='link'
            /></label>
        </div>
    <br>
          <button
            type='submit'
            id="upload-link"
            class='btn btn-primary '
          >Add</button>
        </div>
      </form>
    </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>